*{
    margin: 0em;
    padding: 0em;
}
body {
    background-image: url(foto/achtergrond_website.png);
}
.bannerhome {
    height: 100vh;
    width: 100%;
    background-image: url(foto/bannerhome.png);
    background-size: cover;
    background-position: center;
    display: row;
    margin: 0;
}
.logo img {
    width: 22em;
    height: 6em;
}
.logo {
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
.navbar {
    width: 100%;
    display: flex;
    list-style: none;
    position: relative;
    background-color: aliceblue;
}
.nav_bar li {
    background-color: #add190;
    border-radius: 1.2em;
    padding: 0.5em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.nav_bar a {
    color: #e71d73;
    text-align: center;
    text-decoration: none;
}
ul {
    list-style: none;
    padding-top: 1em;
    color: aliceblue;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: bold 700;
    display: flex;
    gap: 0.8em; 
    justify-content: center;
}
.spreekwolk_home {
    position: relative;
    background-color: #e71d73;
    border-radius: 100px;
    width: 200px;
    height: 150px;
    margin-top: 3em;
    margin-left: 3em;
    margin-bottom: 0em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.spreekwolk_home::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #e71d73 transparent transparent transparent;
}
.spreekwolk_home p{
    color: #e198c2;
    font-family:'Edu TAS Beginner', cursive; ;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}
.banner_bitmoji {
    margin-top: 1.5em;
    display: flex;
    justify-content: end;
    margin-right: 2em;
}
.intro {
    color: #24388d;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    background-color: #e198c2;
    padding: 2em;
    font-size: 20px;
}
.doel {
    display: flex;
    justify-content: center;
    gap: 10%;
    text-align: center;
    color: #e198c2;
    margin-top: 10%;  
}
.doel p {
    font-size: 20px;
    font-family: 'Edu TAS Beginner', cursive;
    margin: 10%;
}
.icoon_recycle {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: #e71d73;
}
.icoon_recycle img {
    width: 8em;
    width: 8em;
}
.icoon_boom {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    border-radius: 20px;
    background-color: #e71d73;
}
.icoon_boom img {
    width: 8em;
    width: 8em;
}
header {
    background-color: #e198c2;
    padding-bottom: 2em;
    border-radius: 0 0 50px 50px;
    
}
.waarhome {
    background-color: #e198c2;
    margin: 10%;
    padding-bottom: 30%;
    border-radius: 5%;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
h2 {
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 25px;
    padding-top: 10%;
    color: midnightblue;
}
.overons {
    background-color: #e198c2;
    margin: 10%;
    padding-bottom: 30%;
    border-radius: 5%;
    text-align: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.button_home{
    background-color: #add190;
    margin-top: 1em;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;
    padding: 1%;
    font-family: 'Edu TAS Beginner';
}

.button_home a{
    color: #e71d73;
    text-decoration: none;
}

h1{
    text-align: center;
    font-family: 'Agbalumo';
    font-size: 50px;
    color: #24388d;
}
.waar_intro {
    color: #24388d;
    margin: 5%;
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 20px;
}
.waar_intro p {
    margin: 5%;
}
.map {
    height: 100vh;
    width: 100%;
}
footer {
    background-color: #2D2D79;
    display: flex;
    justify-content: center;
}

.verwijs_link {
    display: flex;
    background-color: #24388d;
    padding: 1em;
    color: #add190;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-family: monospace;
    justify-content: center;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 3em;
}
.verwijs_link::before {
    content: "->";
    margin-right: 5px;
    font-weight: bold;
}
.spreekwolken {
    margin: 1em;
}
.spraakwolk1 {
    position: relative;
    background-color: #e71d73;
    border-radius: 100px;
    width: 200px;
    height: 110px;
    margin-top: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.spraakwolk1, .spraakwolk2, .spraakwolk3, .spraakwolk4 {
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    color: #24388d;
    padding-top: 2em;
    margin: 0 auto;
}
.spraakwolk1::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 40%;
    border-width: 10px;
    border-style: solid;
    border-color: #e71d73 transparent transparent transparent;
}
.spraakwolk2 {
    position: relative;
    background-color: #add190;
    border-radius: 100px;
    padding: 2px;
    padding-left: 2em;
    padding-right: 1em;
    width: 250px;
    height: 100px;
    margin-top: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.spraakwolk2::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #add190 transparent transparent transparent
}
.spraakwolk3 {
    position: relative;
    background-color: #e71d73;
    border-radius: 100px;
    padding: 2px;
    padding-left: 4em;
    padding-right: 1em;
    width: 150px;
    height: 125px;
    margin-top: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.spraakwolk3::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #e71d73 transparent transparent transparent
}
.spraakwolk4 {
    position: relative;
    background-color: #add190;
    border-radius: 100px;
    width: 180px;
    height: 110px;
    margin-top: 2em;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}
.spraakwolk4::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #add190 transparent transparent transparent
}
.persoon {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.verwijspersoon {
    display: flex;
    justify-content: center;
}
.persoon2 {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.tips_bitmoji {
    display: flex;
    justify-content: center;
    margin-right: 3em;
    gap: 2.5em;
}
.tips_bitmoji h1  {
    margin-top: 1em;
    margin-left: 1em;
}
.tips {
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
}
.tipbox1 {
    background-color: #e71d73;
    margin: 1em;
    padding: 2em;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    display: flex;
}
.tipbox1:hover {
    background-color: #add190;
}
.tipbox1 img {
    width: 4em;
    height: 6em;
    padding-left: 10em;
}
.tipbox1 h2 {
    color: #e198c2 ;
}
.bitmoji {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}
.spreekwaar {
    display: flex;
    justify-content: center;
}
.spreekwolk1 {
    position: relative;
    background-color: #e71d73;
    border-radius: 100px;
    width: 300px;
    height: 300px;
    margin-top: 2em;
}
.spreekwolk1::before{
    content:" ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 10px;
    border-style: solid;
    border-color: #e71d73 transparent transparent transparent;
}
.spreekwolk1 H2 {
    color: #add190;
    text-align: center;
    padding-top: 2em;
}
.achtergrond_over {
     background-color: #e198c2;
     padding-bottom: 5em;
}
.sociale_media1 {
    background-color: #e71d73;
}
